@mixin custom-box-shadow {
    box-shadow: 0 8px 32px 0 rgba(31, 111, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
// @include custom-box-shadow;


@mixin box-shadow-cards {
    box-shadow: rgb(21, 185, 255) 0px 2px 10px 0px, rgb(3, 179, 255) 0px 2px 16px 0px;
}
// @include box-shadow-cards;

