@mixin custom-box-shadow {
    box-shadow: 0 8px 32px 0 rgba(31, 111, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
// @include custom-box-shadow;


@mixin box-shadow-cards {
    box-shadow: rgb(21, 185, 255) 0px 2px 10px 0px, rgb(3, 179, 255) 0px 2px 16px 0px;
}
// @include box-shadow-cards;

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
// @include flex-center;

@mixin flex-column{
    display: flex;
    flex-direction: column;
}
// @include flex-column;

@mixin shadow-neon-effect{
    text-shadow: 0 0 5px #ffffff, 0 0 20px #6eabdd, 0 0 30px #310eb1;
}
// @include shadow-neon-effect;

@mixin text-shadow-black{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}
// @include text-shadow-black;

@mixin gradient-bg-titles{
    background: linear-gradient(45deg,#DD4B25 .29%,#E96228 50.14%,#f5bb70);
}
// @include gradient-bg-titles;