@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}
#root{

    background: #061423;
}
body{

    // background:  10%  no-repeat url(../../assets/images/6913982.jpg);
    // background-color: #000;
    overflow-x: hidden;
// background-color: rgb(167, 165, 164);
}
@media screen and (max-width: 930px) {
    body{
      display: flex !important;
      flex-direction: column !important;
      width: 100%;
    }
}  
