@keyframes slide-in {
    0% {
      transform: translateX(-100%) skew(0deg);
    }
    100% {
      transform: skew(-25deg) translateX(0%);
    }

  }


.banner {
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    color: $color-font;
    width: 36%;
    background-color: $color-title;
    background: linear-gradient(45deg,#DD4B25 .29%,#E96228 50.14%,#f5bb70);
    padding: 5px 10px;
    transform: skew(-25deg);
    padding: 10px 25px 5px 0;
    margin: 0 0 0 -60px;
    transform: translateX(-100%);
    animation: slide-in 800ms ease-in-out forwards;
    h2{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-weight: bold;
    }
}
@media screen and (max-width: 930px) {
  .banner{
  width: 100%;
  h2{
    text-align: end;
  }
  }
} 