@keyframes slide-in {
    0% {
      transform: translateX(-100%) skew(0deg);
    }
    100% {
      transform: skew(-25deg) translateX(0%);
    }

  }


.banner {
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    color: $color-font;
    width: 36%;
    background-color: $color-title;
    background: linear-gradient(to top right,$color-title ,$color-title, lighten( $color: $color-title, $amount: 25));
    padding: 5px 10px;
    transform: skew(-25deg);
    border-top: solid 3px $color-font;
    padding: 10px 25px 5px 0;
    margin: 80px 0 80px -49px;
    
    box-shadow: 0 4px 15px rgba(99, 41, 41, 1);
    transform: translateX(-100%);
    animation: slide-in 800ms ease-in-out forwards;
    h2{
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        font-weight: bold;
    }
}