.skills{
    color: white;
    // padding: 80px;

    &__container{
        display: flex;
        justify-content: center;
        gap: 40px;
        font-size: 50px;
        list-style-type: none;
    }
    &__item {
        display: flex;
        border-radius: 10px;
        width: fit-content;
        padding: 5px 10px;
        height: fit-content;
        background-color: rgba(171, 132, 209, 0.432);
        border: solid 1px black;
        margin-bottom: 80px;
        // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
        box-shadow: 2px 5px 10px rgba(87, 61, 61, 0.555);
    }
    &__banner{
        display: flex;
        justify-content: flex-end;
        border-radius: 5px;
        width: fit-content;
        width: 35%;
        background-color: rgba(255, 123, 0, 0.774);
        // padding: 8px 20px 8px 60%;
        transform: skew(-25deg);
        border-top: solid 3px white;
        padding: 10px 25px 5px 0;
        margin: 80px 0 80px -25px;
        box-shadow: 0 4px 15px rgba(158, 65, 65, 0.9);

        h2{
            white-space: nowrap;
        }

    }
}