@keyframes slide-back {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform:  translateX(0%);
    }
    
  }
  .skills{
    color: $color-font;
    // padding: 50px;
    margin-bottom: 50px ;
    h2{
      white-space: nowrap;
      font-weight: 400;
      font-size: 2rem;
      margin-top: 15px;
      text-shadow: 0 0 5px #ffffff, 0 0 20px #6eabdd, 0 0 30px #310eb1;
    }
    &__category{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      @include custom-box-shadow;
    }
    ul{
      padding:  15px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-top: 15px;
    }
    &__container{
      display: flex;
      justify-content: center;
      width: fit-content;
      gap: 40px;
      font-size: 50px;
      list-style-type: none;
      margin: 80px auto ;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10%;
      width: 130px;
      border: solid 1px rgb(180, 178, 178);
      box-shadow: 2px 5px 10px rgba(24, 23, 23, 0.555);
      transform: translateX(500%);
      animation: slide-back 800ms ease-in-out forwards;
      transition-duration: 600ms ;
      color: rgb(29, 29, 29);
      padding: 5px 0;
      cursor: pointer;
      &:hover{
        transform: scale(1.05);
        transition-duration: 600ms ;
        @include box-shadow-cards;
      }
      }
      p{
        font-size: large;
        font-weight: bold;
        margin: 0;

      }
}

@keyframes slide-in {
    0% {
      transform: translateX(-100%) skew(0deg);
    }
    100% {
      transform: skew(-25deg) translateX(0%);
    }
  }
  @media screen and (max-width: 1000px) {
      .skills{
        margin-left: 2%;
        margin-right: 2%;
      }
      .skills__container{
        display: block;
        place-items: center;
        justify-content: center;
        flex-direction: column;
      
        ul{
          grid-template-columns: repeat(3, 1fr);
          gap: 20px;
        }
      }
    }
  @media screen and (max-width: 460px){
    .skills__container ul{
      grid-template-columns: repeat(2, 1fr);
    }
  }