@import "~bootstrap/scss/bootstrap";
@keyframes shiftImageLeft {
    0% {
      margin: 0 auto;
      
    }
    100% {
      margin-left: 0;
      
    }
  }
  
.project {
  background-color: $color-background;

    padding: 30px;
    object-fit: contain;
    
      }
      
      .container__project {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
      }
      
      .btn-primary{
        --bs-btn-color: none;
        background-color: $color-icons;
        color: $color-font;
        &:hover {
          background: $color-icons;
        }
        &:active{
          background: $color-icons;
          --bs-btn-active-border-color: none;
          --bs-btn-active-bg:none ;

        }
      }
      .card {
        background-color: $color-icons;
        position: relative;
        // border: #f7f7f7 5px solid;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
        border-radius: 10px;
        width: calc(50% - 2rem);
        padding: 0;
        transition: 400ms;
        cursor: pointer;
        transition: transform 400ms;
        h3{
          margin: 0 auto;
          word-spacing: 0.5rem;
          font-size: 1.7rem;
          text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
          
        }
        
        &:hover{
          border: $color-icons 1px solid;
          box-shadow: 0 6px 17px rgba(0, 0, 0, 1);
          background-color: $color-icons;
          transform: scale(1.05)
          
        }
        &:active{
          background-color: $color-icons;

        }
        &__image {
          width: 100%;
          height: 220px;
          max-height: 220px;
          object-fit: cover;
          // object-position: left;
          border-radius: 10px;
        }
        
        #btn{
          background: $color-icons;
          &:active{
            background: $color-icons;
          }
        }
        
      }
      @media screen and (max-width: 930px) {
        .project{
        margin-top: 50px;
        .container__project{
          flex-direction: column;
          justify-content: center;
          // width: 100%
        }
        h3{
          color: white;
          word-spacing: 0.5rem;
        }
        .card{
          width: 100%;
          object-fit: cover;
          &__image {
            width: 100%;
            height: 180px;
            object-fit: fill;
            object-position: 10%;
          }
        }
        h2{
          text-align: center;
        }
        figcaption{
          display: none;
        }
        }
      } 

      
      
      
      
      
      