
#about{
  margin-top: 120px;
  
}
.about-me {
  @include flex-center;
  justify-content: space-around;
  text-align: center;
  height: auto;
  margin: 50px;
  padding-top: 100px;
  @include custom-box-shadow;
  padding: 20px;
  animation: slide-back 800ms ease-in-out forwards;
  transition-duration: 600ms ;

  &__container {
    display: flex;
    flex-direction: column;
    transition-duration: 600ms ;
    
  }
  &__title{
    @include shadow-neon-effect;
  }
  &__subtitle{
    @include shadow-neon-effect;
    font-size: 1.5rem;
  }
  &__image {
    height: 200px;
    margin: 25px 0 25px 0;
    z-index: 2;
    opacity: 1;
    img {
      border: #45596d 4px solid;
      width: 200px;
      height: 200px;
      border-top-right-radius: 25%;
      object-fit: cover;
      object-position: center top;
      box-shadow: 0 8px 32px 0 rgba(31, 111, 135, 0.37);
      transition-duration: 600ms ;
      &:hover{
        transform: scale(1.1);
        box-shadow: 0 8px 18px rgba(0, 0, 0, 1.2);
        transition-duration: 600ms ;
        
      }
    }
  }
  
  &__content {
    @include flex-column;
  }
  
  &__text {
    display: block;
    width: 50% ;
    height: max-content;
    align-items: center;
    font-size: 1rem;
    p{
      
      text-align: justify;
      text-shadow: 0 0 1px #ffffff, 0 0 8px #6eabdd, 0 0 10px #310eb1;
    }
  }
  
}
.btn_download{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 25px;
  width: 300px; 
  @include gradient-bg-titles;
  box-shadow: rgba(236, 58, 27, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: 400ms;
  color: #fff;
  border: none;
  // padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  p{
  margin: 0.5rem;
  }
  .pdf{
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 930px) {
  .about-me{
    flex-direction: column;
    height: max-content;
    margin: 80px 2%;
    &__container {
      width: 100%;
      transition-duration: 0s ;
    }
    
    &__image {
      flex: 0 0 200px;
      height: 200px;
      margin: 20px 0 25px 0;
      z-index: 2;
      opacity: 1;
      
      img {
        border: $color-icons 5px solid;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center top;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
        transition-duration: 0s;
      }
    }
    
    &__content {
      @include flex-column;
      margin-bottom: 10px;
    }
  
    &__text {
      width: 100%;
      font-size: 0.8rem;
      
    }
  }
}  