
#about{
  margin-top: 120px;
  
}
.about-me {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: auto;
  margin: 50px;
  padding-top: 100px;
  @include custom-box-shadow;
  padding: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    transition-duration: 600ms ;
    
  }
  &__title{
    text-shadow: 0 0 5px #ffffff, 0 0 20px #6eabdd, 0 0 30px #310eb1;
  }
  &__subtitle{
    text-shadow: 0 0 5px #ffffff, 0 0 20px #6eabdd, 0 0 30px #310eb1;
    font-size: 1.5rem;
  }
  &__image {
    height: 200px;
    margin: 25px 0 25px 0;
    z-index: 2;
    opacity: 1;
    img {
      border: #45596d 4px solid;
      width: 200px;
      height: 200px;
      border-top-right-radius: 25%;
      object-fit: cover;
      object-position: center top;
      box-shadow: 0 8px 32px 0 rgba(31, 111, 135, 0.37);
      transition-duration: 600ms ;
      &:hover{
        transform: scale(1.1);
        box-shadow: 0 8px 18px rgba(0, 0, 0, 1.2);
        transition-duration: 600ms ;
        
      }
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
  
  &__text {
    display: block;
    color: white;
    width: 50% ;
    height: max-content;
    text-align: justify;
    align-items: center;
    font-size: 1rem;
    p{
      text-shadow: 0 0 1px #ffffff, 0 0 8px #6eabdd, 0 0 10px #310eb1;
    }
  }
  
}
@media screen and (max-width: 930px) {
  .about-me{
    flex-direction: column;
    // margin: 2%;
    height: max-content;
    margin: 80px 2%;
    // min-height: 100%;
    &__container {
      // display: block;
      width: 100%;
      transition-duration: 0s ;
    }
    
    &__image {
      flex: 0 0 200px;
      height: 200px;
      margin: 20px 0 25px 0;
      z-index: 2;
      opacity: 1;
      
      img {
        border: $color-icons 5px solid;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center top;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
        transition-duration: 0s;
      }
    }
    
    &__content {
      display: flex;
      flex-direction: column;
      color: #fff;
      margin-bottom: 10px;
    }
  
    &__text {
      // display: none;
      width: 100%;
      font-size: 0.8rem;
      
    }
  }
}  