
.about-me {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $color-background;
  border-bottom: solid black 2px;
  text-align: center;
  
  
  // opacity: 0.5;
  // box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
  
  &__image {
    flex: 0 0 200px;
    height: 200px;
    margin: 150px 0 25px 0;
    z-index: 2;
    opacity: 1;
    
    img {
      border: $color-icons 5px solid;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center top;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
      
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    color: #fff;
    // align-self: center;
    // z-index: 1;
    margin-bottom: 50px;
  }
  h1{

    font-weight: bold;
  }
}